<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>

    <%- include('../partials/admin-sidebar', { activeIdx: 0 }) %>
    <% if (typeof message !== 'undefined' && message != null) { %> 
      <script> alert('<%= message %>'); </script> 
    <% } %>
    

        <!-- Main Content Section -->
        <div class="mainContent">
        
          <div class="dashboard">
            <h1 class="dashboard-title">Admin Dashboard</h1>
            <p class="dashboard-subtitle">Overview of business operations</p>

            <div class="dashboard-courses">
              
              <div class="course-item">
                <h3>Tổng Đơn Hàng Thành Công</h3>
                <p class="course-count"><%= totalOrder%></p> 
                <a href="/admin-orders-management" class="course-link">View details</a>
              </div>

              <div class="course-item">
                <h3>Tổng Doanh Thu</h3>
                <p class="course-count"><%=  numberFormatter.format(totalRevenue)%>đ</p> <!-- Thay 'Y' bằng số liệu thực từ server -->
                <a href="/admin-orders-management" class="course-link">View details</a>
              </div>

              <div class="course-item">
                <h3>Tổng Khách Hàng</h3>
                <p class="course-count"><%= totalCustomer %></p> <!-- Thay 'Z' bằng số liệu thực từ server -->
                <a href="/admin-users-management" class="course-link">View details</a>
              </div>

              <div class="course-item">
                <h3>Tổng sản Phẩm</h3>
                <p class="course-count"><%= totalProduct %></p> <!-- Thay 'W' bằng số liệu thực từ server -->
                <a href="/admin-products-management" class="course-link">View details</a>
              </div>

            </div>
          </div>
          
        </div>

</body>
</html>
    