<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sửa thông tin sản phẩm</title>
    <link rel="stylesheet" href="styles/edit-product.css" />
  </head>
  <style>
    .label-upload {
      border-radius: 3px;
      padding: 5px;
      color: white;
      background-color: #4e73df;
      cursor: pointer;
    }
    .label-upload:hover {
      opacity: 0.9;
    }
    .preview-image {
      height: 100px;
      width: 100px;
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
      border: solid 1px #ccc;
    }
    .fa-solid {
      margin-top: 2px;
      margin-right: 2px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
  </style>
  <body>
    <!-- Sidebar Section -->
    <div class="sidebar">
      <div class="sidebarHeader">
        <h2>ADMIN</h2>
        <hr class="menuDivider" />
      </div>

      <ul class="menu">
        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-dashboard.svg"
              alt="Dashboard Icon"
              class="menuIcon"
            />
            Dashboard
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem dropdown">
          <button class="dropdownToggle">
            <img
              src="icons/icon-table.svg"
              alt="Product Icon"
              class="menuIcon"
            />
            <span>Sản phẩm</span>
          </button>
          <ul class="submenu">
            <li><a href="/admin-add-product">Thêm sản phẩm</a></li>
            <li><a href="/admin-products-management">Quản lý sản phẩm</a></li>
          </ul>
        </li>
        <li class="menuItem">
          <a href="/admin-users-management">
            <img src="icons/icon-user.svg" alt="User Icon" class="menuIcon" />
            Người dùng
          </a>
        </li>
        <li class="menuItem">
          <a href="/admin-orders-management">
            <img src="icons/icon-table.svg" alt="Order Icon" class="menuIcon" />
            Đơn hàng
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-setting.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Settings
          </a>
        </li>

        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-logout.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Đăng xuất
          </a>
        </li>
      </ul>

      <button class="toggleSidebarBtn">
        <img
          src="icons/icon-backward.svg"
          alt="Toggle Icon"
          class="toggleIcon"
        />
      </button>
    </div>

    <!-- Main Content Section -->
    <div class="mainContent">
      <!-- Form Section -->
      <div class="formContainer">
        <h1>Sửa thông tin sản phẩm</h1>
        <form action="/post-product" method="POST">
          <div class="formGroup">
            <label for="name">Tên sản phẩm</label>
            <input
              type="text"
              id="name"
              value="<%= productData.name %>"
              name="name"
            />
          </div>
          <div class="formGroup">
            <label for="price">Giá tiền sản phẩm</label>
            <input
              type="text"
              id="price"
              value="<%= productData.price %>"
              name="price"
            />
          </div>
          <div class="formGroup">
            <label for="upload">Ảnh</label>
            <script>
              function getBase64(file) {
                return new Promise((resolve, reject) => {
                  const reader = new FileReader();
                  reader.readAsDataURL(file);
                  reader.onload = () => resolve(reader.result);
                  reader.onerror = (error) => reject(error);
                });
              }
              let imageUrls = [];
              let images = [];
              handleOnchangeImage = async (event) => {
                console.log("Noah check images: ", images);
                const files = event.target.files;
                imageUrls = [];
                images = [];
                for (let i = 0; i < files.length; i++) {
                  let file = files[i];
                  let objectUrl = URL.createObjectURL(file);
                  let base64 = await getBase64(file);
                  images.push(base64);
                  imageUrls.push(objectUrl);
                }
                document.getElementById("imagesInput").value =
                  JSON.stringify(images);
                renderPreviews();
              };
              function renderPreviews() {
                const previewContainer =
                  document.querySelector(".preview-container");
                previewContainer.innerHTML = "";
                imageUrls.forEach((url) => {
                  const previewDiv = document.createElement("div");
                  previewDiv.classList.add("preview-image");
                  previewDiv.style.backgroundImage = `url(${url})`;
                  previewContainer.appendChild(previewDiv);
                });
              }
              function validateForm() {
                let nameInput = document.forms["myForm"]["name"].value;
                let priceInput = document.forms["myForm"]["price"].value;
                if (nameInput === "" || priceInput === "") {
                  alert(
                    "Phải điền tên sản phẩm và giá sản phẩm trước khi tạo!"
                  );
                  return false;
                }
              }
            </script>
            <div>
              <input
                type="file"
                id="inputImage"
                multiple
                hidden
                onchange="handleOnchangeImage(event)"
              />
              <label class="label-upload" for="inputImage" nam
                >Tải ảnh <i class="fas fa-upload"></i
              ></label>
            </div>
          </div>
          <div class="form-group">
            <label></label>
            <div
              class="preview-container"
              style="display: flex; flex-wrap: wrap; gap: 10px"
            >
              <% for (let i = 0; i < imagesData.length; i++) { %> <% if
              (imagesData[i]) { %>
              <div
                class="preview-image"
                value="<%= imagesData[i].image_id %>"
                style="background-image: url('<%= imagesData[i].image %>')"
              >
                <a
                  href="/delete-image-by-id?image_id=<%= imagesData[i].image_id %>"
                  ><i class="fa-solid fa-trash"></i>
                </a>
              </div>

              <% } %> <% } %>
            </div>
          </div>
          <div class="formGroup">
            <label for="type">Thể loại sản phẩm</label>
            <select id="type" name="type_of_clothes">
              <option selected value="<%=productData.type_of_clothes %>">
                <%= productData.type_of_clothes %>
              </option>
              <% let data = ['Tees', 'Sweats', 'Shirts', 'Jeans', 'Shorts',
              'Jackets', 'Sneakers', 'Sandals', 'Boxers', 'Socks', 'Hats']; for
              (let i = 0; i < data.length; i++) { if (data[i] !==
              productData.type_of_clothes) { %>
              <option value="<%= data[i] %>"><%= data[i] %></option>
              <% } } %>
            </select>
          </div>
          <div class="formGroup">
            <label for="category">Phân loại sản phẩm</label>
            <select id="category" name="cat_id">
              <option selected value="<%= productData.cat_id %>">
                <%= productData.categoryData.name %>
              </option>
              <% for (let i = 0; i < categoriesData.length; i++) { %> <% if
              (productData.cat_id !== categoriesData[i].cat_id) { %>
              <option value="<%= categoriesData[i].cat_id %>">
                <%= categoriesData[i].name %>
              </option>
              <% } %> <% } %>
            </select>
          </div>
          <div class="formGroup">
            <label for="size">Kích cỡ sản phẩm</label>
            <select id="size" name="size">
              <option selected><%= productData.size %></option>
              <% let sizes = ['S', 'M', 'L', '39', '40', '41', '42', 'None'];
              for (let i = 0; i < sizes.length; i++) { if (sizes[i] !==
              productData.size) { %>
              <option value="<%= sizes[i] %>"><%= sizes[i] %></option>
              <% } } %>
            </select>
          </div>
          <div class="formGroup">
            <label for="description">Mô tả sản phẩm</label>
            <input
            type="text"
              id="description"
              value="<%= productData.description %>"
              name="description"
            ></input>
          </div>
          <input
            name="pd_id"
            value="<%= productData.pd_id %>"
            type="text"
            hidden
          />  
          <input name="pd_id" type="text" hidden />
          <input type="hidden" id="imagesInput" name="images" />
          <div class="formGroup">
            <button type="submit">Sửa thông tin sản phẩm</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Add your JavaScript file -->
    <script src="scripts/admin-sidebar.js"></script>
  </body>
</html>
