<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sửa thông tin sản phẩm</title>
    <link rel="stylesheet" href="styles/edit-order-status.css" />
  </head>
  <body>
    <!-- Sidebar Section -->
    <div class="sidebar">
      <div class="sidebarHeader">
        <h2>ADMIN</h2>
        <hr class="menuDivider" />
      </div>

      <ul class="menu">
        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-dashboard.svg"
              alt="Dashboard Icon"
              class="menuIcon"
            />
            Dashboard
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem dropdown">
          <button class="dropdownToggle">
            <img
              src="icons/icon-table.svg"
              alt="Product Icon"
              class="menuIcon"
            />
            <span>Sản phẩm</span>
          </button>
          <ul class="submenu">
            <li><a href="/admin-add-product">Thêm sản phẩm</a></li>
            <li><a href="/admin-products-management">Quản lý sản phẩm</a></li>
          </ul>
        </li>
        <li class="menuItem">
          <a href="#">
            <img src="icons/icon-user.svg" alt="User Icon" class="menuIcon" />
            Người dùng
          </a>
        </li>
        <li class="menuItem">
          <a href="/admin-orders-management">
            <img src="icons/icon-table.svg" alt="Order Icon" class="menuIcon" />
            Đơn hàng
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem">
          <a href="/admin-users-management">
            <img
              src="icons/icon-setting.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Settings
          </a>
        </li>

        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-logout.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Đăng xuất
          </a>
        </li>
      </ul>

      <button class="toggleSidebarBtn">
        <img
          src="icons/icon-backward.svg"
          alt="Toggle Icon"
          class="toggleIcon"
        />
      </button>
    </div>

    <!-- Main Content Section -->
    <div class="mainContent">
      <!-- Form Section -->
      <div class="formContainer">
        <h1>Sửa trạng thái đơn hàng</h1>
        <form action="/post-order-status" method="POST">
          <div class="formGroup">
            <label for="orderId">ID đơn hàng</label>
            <input
              type="text"
              id="orderId"
              value="<%= orderData.order_id %>"
              name="order_id"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="customerName">Tên khách hàng</label>
            <input
              type="text"
              id="customerName"
              value="<%= orderData.userData.name %>"
              name="name"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="customerPhone">Số điện thoại khách hàng</label>
            <input
              type="text"
              id="customerPhone"
              value="<%= orderData.userData.phone %>"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="customerEmail">Email khách hàng</label>
            <input
              type="email"
              id="customerEmail"
              value="<%= orderData.userData.email %>"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="amount">Địa chỉ nhận hàng</label>
            <input
              type="text"
              id="amount"
              value="<%= orderData.address_shipping %>"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="productCost">Tổng giá trị đơn hàng</label>
            <input
              type="number"
              id="productCost"
              value="<%= orderData.cost %>"
              disabled
            />
          </div>
          <div class="formGroup">
            <label for="status">Trạng thái đơn hàng</label>
            <select id="status" name="status">
              <option selected><%= orderData.status %></option>
              <% let status = ['Confirming', 'Preparing', 'Delivering',
              'Delivered']; for (let i = 0; i < status.length; i++) { if
              (status[i] !== orderData.status) { %>
              <option value="<%= status[i] %>"><%= status[i] %></option>
              <% } } %>
            </select>
          </div>
          <input
            name="user_id"
            value="<%= orderData.userData.user_id %>"
            type="text"
            hidden
          />
          <input
            name="order_id"
            value="<%= orderData.order_id %>"
            type="text"
            hidden
          />
          <div class="formGroup">
            <button type="submit">Cập nhật trạng thái</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Add your JavaScript file -->
    <script src="scripts/admin-sidebar.js"></script>
  </body>
</html>
