<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Product</title>
<<<<<<< HEAD
    <link rel="icon" type="product_img" href="images/LOGO ICON.png">
    <link rel="stylesheet" href="styles/product-view-all-ao.css">
=======
    <link rel="icon" type="product_img" href="/images/LOGO ICON.png">
    <link rel="stylesheet" href="/styles/product-view-all-ao.css">
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    
</head>
<body>

<<<<<<< HEAD
    <header class="header">
        <div class="brand-logo">
            <img src="icons/logos/logo-html.svg" alt="H(T)ML Logo">
            <span class="brand-name">H(T)ML</span>
        </div>
    
        <!-- Shirt Navbar Container -->
        <div class="shirtNavbar">
            <div class="shirtDropdown">
                <button class="dropdownButton">Áo
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="shirtDropdownContent">
                    <div class="shirtRow">
                        <div class="shirtColumn">
                            <h3>Áo Thun</h3>
                            <a href="#">Áo Polo</a>
                            <a href="#">Áo Len</a>
                            <a href="#">Áo Ba Lỗ</a>
                            <a href="#">Áo Tay Ngắn</a>
                            <a href="#">Áo Tay Dài</a>
                            <a href="#">Áo Oversized</a>
                            <a href="#">Áo Boxy</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="shirtColumn">
                            <h3>Áo Khoác</h3>
                            <a href="#">Jacket</a>
                            <a href="#">Varsity</a>
                            <a href="#">Sơ Mi</a>
                            <a href="#">Blazer</a>
                            <a href="#">Khoác Da</a>
                            <a href="#">Kaki</a>
                            <a href="#">Hoodie</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="shirtColumn">
                            <div class="shirtProductImages">
                                <div class="shirtProductItem">
                                    <img src="images/Polo-Shirt-Menu.png" alt="Polo Shirt">
                                    <p>Polo</p>
                                </div>
                                <div class="shirtProductItem">
                                    <img src="images/Thun-Shirt-Menu.png" alt="T-Shirt">
                                    <p>Thun</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- Pants Navbar Container -->
        <div class="pantsNavbar">
            <div class="pantsDropdown">
                <button class="dropdownButton">Quần
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="pantsDropdownContent">
                    <div class="pantsRow">
                        <!-- Pants Types -->
                        <div class="pantsColumn">
                            <h3>Quần</h3>
                            <a href="#">Quần Jeans</a>
                            <a href="#">Quần Jogger</a>
                            <a href="#">Quần Kaki</a>
                            <a href="#">Quần Short</a>
                            <a href="#">Quần Tây</a>
                            <a href="#">Quần Đùi</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <!-- Product Images -->
                        <div class="pantsColumn">
                            <div class="pantsProductImages">
                                <div class="pantsProductItem">
                                    <img src="images/Jeans-Pants-Menu.png" alt="Jeans">
                                    <p>Jeans</p>
                                </div>
                                <div class="pantsProductItem">
                                    <img src="images/Jogger-Pants-Menu.png" alt="Jogger">
                                    <p>Jogger</p>
                                </div>
                                <div class="pantsProductItem">
                                    <img src="images/Shorts-Pants-Menu.png" alt="Short">
                                    <p>Short</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
            <!-- Shoes Navbar Container -->
        <div class="shoesNavbar">
            <div class="shoesDropdown">
                <button class="dropdownButton">Giày Dép
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="shoesDropdownContent">
                    <div class="shoesRow">
                        <div class="shoesColumn">
                            <h3>Giày</h3>
                            <a href="#">Chelsea Boots</a>
                            <a href="#">Derby</a>
                            <a href="#">Slip On Jeans</a>
                            <a href="#">Giày Thể Thao</a>
                            <a href="#">Giày Lười</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="shoesColumn">
                            <h3>Dép</h3>
                            <a href="#">Dép Da</a>
                            <a href="#">Dép Sandal</a>
                            <a href="#">Dép Lào</a>
                            <a href="#">Dép Quai Chéo</a>
                            <a href="#">Dép Xỏ Ngón</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="shoesColumn">
                            <div class="shoesProductImages">
                                <div class="shoesProductItem">
                                    <img src="images/Sandal-Shoes-Menu.png" alt="Sandal">
                                    <p>Sandal</p>
                                </div>
                                <div class="shoesProductItem">
                                    <img src="images/Derby-Shoes-Menu.png" alt="Derby">
                                    <p>Derby</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Accessories Navbar Container -->
        <div class="accessoriesNavbar">
            <div class="accessoriesDropdown">
                <button class="dropdownButton">Phụ Kiện
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="accessoriesDropdownContent">
                    <div class="accessoriesRow">
                        <div class="accessoriesColumn">
                            <h3>Tất</h3>
                            <a href="#">Tất Cổ Dài</a>
                            <a href="#">Tất Cổ Ngắn</a>
                            <a href="#">Tất Dài Sọc</a>
                            <a href="#">Tất Dài Trơn</a>
                            <a href="#">Tất Lưới</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="accessoriesColumn">
                            <h3>Thắt Lưng</h3>
                            <a href="#">Đầu Kim</a>
                            <a href="#">Khóa Tự Động</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="accessoriesColumn">
                            <h3>Ví</h3>
                            <a href="#">Khóa Cá Sấu</a>
                            <a href="#">Khóa Trơn</a>
                            <a href="#">Dáng Dọc</a>
                            <a href="#">Dáng Ngang</a>
                            <a href="#">Xem Thêm</a>
                        </div>
                        <div class="accessoriesColumn">
                            <div class="accessoriesProductImages">
                                <div class="accessoriesProductItem">
                                    <img src="images/Wallet-Accessories-Menu.png" alt="Ví Có Khóa Cá Sấu">
                                    <p>Ví Có Khóa Cá Sấu</p>
                                </div>
                                <div class="accessoriesProductItem">
                                    <img src="images/Socks-Accessories-Menu.png" alt="Tất Cổ Dài">
                                    <p>Tất Cổ Dài</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        </div>
    
            <div class="header-icons">
                <img src="icons/icon-search.svg" alt="Search">
                <img src="icons/icon-user.svg" alt="User">
                <img src="icons/icon-shopping.svg" alt="Shopping Bag">
            </div>
        </header>
=======
    <%- include('../partials/header', { activeIdx: 1 }) %>
    
    <% if (message != null) { %>
        <script>alert('<%= message %>');</script>
    <% } %>
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805

            <!-- Thêm nút trở về ở đây -->
    <div class="back-button-container">
        <a href="/product-view-all" class="back-button">← Trở về</a>
    </div>
    <!-- Product Section -->
     
    <div class="categories-container">
        <div class="category-section">
            <div class="category-header">
<<<<<<< HEAD
                <h2>Hats</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < hatsData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=hatsData[i].pd_id%>">
                                <img src="<%= hatsData[i].productImageData[0].image %>" alt="<%= hatsData[i].name %>">
                                <h3 class="product-name">
                                    <%= hatsData[i].name.length > 30 ? hatsData[i].name.substring(0, 30) + "..." : hatsData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= hatsData[i].description.length > 100 ? hatsData[i].description.substring(0, 100) + "..." : hatsData[i].description %>
                                    </p>
                                    <p class="product-price"><%= hatsData[i].price %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
=======
                <h2>Tất</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <div class="product-card">
                        <a href="../pages/product-view-blazer.html">
                            <img src="/images/temp/assets/products/accessories/Tat/co_dai/vo-dai-soc-vo073-18560-slide-products-6650b88c3b048 (1).jpg" alt="vo-dai-soc-vo073-18560-slide-products-6650b88c3b048">
                            <h3>Tất cổ dài</h3>
                            <div class="product-details">
                                <p class="product-description">Tất cổ dài sọc</p>
                                <p class="product-price">125.000đ</p>
                            </div>
                        </a>
                    </div>
                    
                    <div class="product-card">
                        <a href="../pages/product-view-varsity1.html">
                            <img src="/images/temp/assets/products/accessories/Tat/co_ngan/-18381-slide-products-65d870e3a7ed0.jpg" alt="tat-co-ngan">
                            <h3>Tất cổ ngắn</h3>
                            <div class="product-details">
                                <p class="product-description">Tất nam cổ ngắn</p>
                                <p class="product-price">125.000đ</p>
                            </div>
                        </a>
                    </div>

                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Tat/dai_soc/vo-dai-tron-vo071-18558-slide-products-6650b7b4eef2e.jpg" alt="tat-dai-soc">
                        <h3>Tất dài sọc</h3>
                        <div class="product-details">
                            <p class="product-description">Tất dài sọc ngang</p>
                            <p class="product-price">125.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Tat/dai_tron/vo-nam-co-ngan-phoi-mau-vo070-18391-slide-products-65d87a868654a.jpg" alt="tat-dai-tron">
                        <h3>Tất dài trơn</h3>
                        <div class="product-details">
                            <p class="product-description">Tất trơn một màu</p>
                            <p class="product-price">125.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Tat/tat_luoi/vo-nam-co-ngan-vo066-18393-slide-products-65dc021edda1c.jpg" alt="tat-luoi">
                        <h3>Tất lười</h3>
                        <div class="product-details">
                            <p class="product-description">Tất lười cho nam</p>
                            <p class="product-price">100.000đ</p>
                        </div>
                    </div>
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805
                </div>
            </div>
        </div>
          

        <div class="category-section">
            <div class="category-header">
<<<<<<< HEAD
                <h2>Boxers</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < boxersData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=boxersData[i].pd_id%>">
                                <img src="<%= boxersData[i].productImageData[0].image %>" alt="<%= boxersData[i].name %>">
                                <h3 class="product-name">
                                    <%= boxersData[i].name.length > 30 ? boxersData[i].name.substring(0, 30) + "..." : boxersData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= boxersData[i].description.length > 100 ? boxersData[i].description.substring(0, 100) + "..." : boxersData[i].description %>
                                    </p>
                                    <p class="product-price"><%= boxersData[i].price %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
=======
                <h2>Thắt lưng</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/That_lung/dau_kim_1/that-lung-dau-kim-tl165-18572-slide-products-66570a11e3e78.jpg" alt="dau-kim-1">
                        <h3>Đầu kim 1</h3>
                        <div class="product-details">
                            <p class="product-description">Thắt lưng đầu kim (1)</p>
                            <p class="product-price">185.000đ</p>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/That_lung/dau_kim_2/that-lung-dau-kim-tl166-18565-slide-products-6655c1885addc.jpg" alt="dau-kim-2">
                        <h3>Đầu kim 2</h3>
                        <div class="product-details">
                            <p class="product-description">Thắt lưng đầu kim (2)</p>
                            <p class="product-price">185.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/That_lung/dau_kim_3/that-lung-dau-kim-tl167-18468-slide-products-663c7d692faa0.jpg" alt="dau-kim-3">
                        <h3>>Đầu kim 3</h3>
                        <div class="product-details">
                            <p class="product-description">Thắt lưng đầu kim (3)</p>
                            <p class="product-price">185.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/That_lung/khoa_tu_dong_1/that-lung-khoa-tu-dong-tl163-18466-slide-products-663c7c480f1a1.jpg" alt="khoa-tu-dong-1">
                        <h3>Khóa tự động 1</h3>
                        <div class="product-details">
                            <p class="product-description">Thắt lưng tự động khóa (1)</p>
                            <p class="product-price">200.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/That_lung/khoa_tu_dong_2/that-lung-khoa-tu-dong-tl154-18421-slide-products-65e82ba8866d5.jpg" alt="khoa-tu-dong-2">
                        <h3>Khóa tự động 2</h3>
                        <div class="product-details">
                            <p class="product-description">Thắt lưng tự động khóa (2)</p>
                            <p class="product-price">200.000đ</p>
                        </div>
                    </div>
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805
                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="category-header">
<<<<<<< HEAD
                <h2>Socks</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < socksData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=socksData[i].pd_id%>">
                                <img src="<%= socksData[i].productImageData[0].image %>" alt="<%= socksData[i].name %>">
                                <h3 class="product-name">
                                    <%= socksData[i].name.length > 30 ? socksData[i].name.substring(0, 30) + "..." : socksData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= socksData[i].description.length > 100 ? socksData[i].description.substring(0, 100) + "..." : socksData[i].description %>
                                    </p>
                                    <p class="product-price"><%= socksData[i].price %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
=======
                <h2>Ví</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Vi/dang_doc/-17514-slide-products-636b7a66dad09.jpg" alt="vi-dang-doc">
                        <h3>Ví dáng dọc</h3>
                        <div class="product-details">
                            <p class="product-description">Ví da dáng dọc</p>
                            <p class="product-price">225.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Vi/dang_ngang/-17838-slide-products-63f5b6c549094.jpg" alt="vi-dang-ngang">
                        <h3>Ví dáng ngang</h3>
                        <div class="product-details">
                            <p class="product-description">Ví da dáng ngang</p>
                            <p class="product-price">250.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Vi/khoa_ca_sau/vi-cam-tay-co-khoa-ca-sau-017-16397-slide-products-621464c90b454.jpg" alt="vi-khoa-ca-sau">
                        <h3>Ví khóa cá sấu</h3>
                        <div class="product-details">
                            <p class="product-description">Ví có khóa cá sấu</p>
                            <p class="product-price">275.000đ</p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="/images/temp/assets/products/accessories/Vi/khoa_tron/vi-cam-tay-co-khoa-tron-020-mau-den-16530-slide-products-6214656432f13.jpg" alt="vi-khoa-tron">
                        <h3>Ví khóa trơn</h3>
                        <div class="product-details">
                            <p class="product-description">Ví có khóa trơn</p>
                            <p class="product-price">315.000đ</p>
                        </div>
                    </div>
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805
                </div>
            </div>
        </div>
    </div>

           <!-- Footer Section -->
    
<<<<<<< HEAD
        <!-- Left Side of Footer -->
        <footer class="footer">
            <div class="footer-left">
                <div class="footer-newsletter">
                    <h3>Theo Dõi Các Tin Tức Mới Nhất Từ H(T)ML!</h3>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Nhập Email Của Bạn">
                        <button><img src="icons/arrow-forward.svg" alt="Arrow"></button>
                    </div>
                    <label>
                        <input type="checkbox"> Bằng việc nhập email, bạn đồng ý với việc nhận các tin quảng cáo, ưu đãi từ
                        H(T)ML
                    </label>
                </div>
                <div class="footer-social">
                    <div class="footer-social-icons">
                        <img src="icons/logos/logo-instagram.svg" alt="Instagram">
                        <img src="icons/logos/logo-facebook.svg" alt="Facebook">
                        <img src="icons/logos/logo-pinterest.svg" alt="Pinterest">
                        <img src="icons/logos/logo-tiktok.svg" alt="TikTok">
                    </div>
                    <p>© 2024 H(T)ML. All Rights Reserved.</p>
                </div>
            </div>
    
            <!-- Right Side of Footer -->
            <div class="footer-right">
                <div class="footer-links">
                    <div>
                        <h4>Về H(T)ML</h4>
                        <a href="#">Bộ Sưu Tập</a>
                        <a href="#">Quyền Riêng Tư</a>
                        <a href="#">Hệ Thống Hỗ Trợ</a>
                        <a href="#">Điều Khoản</a>
                        <a href="#">Bản Quyền</a>
                    </div>
                    <div>
                        <h4>Hỗ Trợ</h4>
                        <a href="#">Mua Hàng & Vận Chuyển</a>
                        <a href="#">Trả Hàng & Hoàn Tiền</a>
                        <a href="#">Các Câu Hỏi Thường Gặp</a>
                        <a href="#">Liên Hệ Với Chúng Tôi</a>
                    </div>
                </div>
            </div>
        </footer>

    <script src="scripts/product-view-all.js"></script>
</body>
</html>
=======
        <%- include('../partials/footer', { activeIdx: 0 }) %>
</body>
</html>
>>>>>>> a174f755e6424f3a007cfc23082067c4c0f43805
