<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Product</title>
    <link rel="icon" type="product_img" href="images/LOGO ICON.png">
    <link rel="stylesheet" href="styles/product-view-all-ao.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    
</head>
<body>

    <%- include('../partials/header', { activeIdx: 1 }) %>

            <!-- Thêm nút trở về ở đây -->
    <div class="back-button-container">
        <a href="/product-view-all" class="back-button">← Trở về</a>
    </div>
    <!-- Product Section -->
     
    <div class="categories-container">
        <div class="category-section">
            <div class="category-header">
                <h2>Hats</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < hatsData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=hatsData[i].pd_id%>">
                                <img src="<%= hatsData[i].productImageData[0].image %>" alt="<%= hatsData[i].name %>">
                                <h3 class="product-name">
                                    <%= hatsData[i].name.length > 30 ? hatsData[i].name.substring(0, 30) + "..." : hatsData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= hatsData[i].description.length > 100 ? hatsData[i].description.substring(0, 100) + "..." : hatsData[i].description %>
                                    </p>
                                    <p class="product-price"><%= numberFormatter.format(hatsData[i].price) %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
          

        <div class="category-section">
            <div class="category-header">
                <h2>Boxers</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < boxersData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=boxersData[i].pd_id%>">
                                <img src="<%= boxersData[i].productImageData[0].image %>" alt="<%= boxersData[i].name %>">
                                <h3 class="product-name">
                                    <%= boxersData[i].name.length > 30 ? boxersData[i].name.substring(0, 30) + "..." : boxersData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= boxersData[i].description.length > 100 ? boxersData[i].description.substring(0, 100) + "..." : boxersData[i].description %>
                                    </p>
                                    <p class="product-price"><%= boxersData[i].price %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="category-header">
                <h2>Socks</h2>
            </div>
            <div class="product-carousel limited-view">
                <div class="carousel-track">
                    <%for (let i = 0; i < socksData.length; i++) {%>
                        <div class="product-card">
                            <a href="/product-view?pd_id=<%=socksData[i].pd_id%>">
                                <img src="<%= socksData[i].productImageData[0].image %>" alt="<%= socksData[i].name %>">
                                <h3 class="product-name">
                                    <%= socksData[i].name.length > 30 ? socksData[i].name.substring(0, 30) + "..." : socksData[i].name %>
                                </h3>
                                <div class="product-details">
                                    <p class="product-description">
                                        <%= socksData[i].description.length > 100 ? socksData[i].description.substring(0, 100) + "..." : socksData[i].description %>
                                    </p>
                                    <p class="product-price"><%= socksData[i].price %>đ</p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer', { activeIdx: 0 }) %>


    <script src="scripts/product-view-all.js"></script>
</body>
</html>
