<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>

<body>

    <!-- Include the header -->
    <%- include('../partials/header', { activeIdx: 1 }) %>

    <!-- Check if the user is logged in and display profile information -->
    
    <main class="mainContent">
        <h1 class="pageTitle">THÔNG TIN TÀI KHOẢN</h1>
        <form class="accountInfoForm">
            <!-- Họ và Tên + Ngày Sinh -->
            <div class="doubleInputGroup">
                <div class="inputWrapper">
                    <input type="text" id="fullName" placeholder="Tên Người Dùng" required value="<%= user.name %>">
                    <label for="fullName" class="requiredLabel">Họ và tên</label>
                </div>
                <div class="inputWrapper">
                    <input type="text" id="dob" placeholder="Ngày/Tháng/Năm">
                    <label for="dob" class="requiredLabel">Ngày sinh</label>
                </div>
            </div>
    
            <!-- Email + Số Điện Thoại -->
            <div class="doubleInputGroup">
                <div class="inputWrapper">
                    <input type="email" id="email" placeholder="Nhập địa chỉ email" required value="<%= user.email %>">
                    <label for="email" class="requiredLabel">Email</label>
                </div>
                <div class="inputWrapper">
                    <input type="text" id="phone" placeholder="Nhập số điện thoại" required value="<%= user.phone %>">
                    <label for="phone" class="requiredLabel">Số điện thoại</label>
                </div>
            </div>
    
            <!-- Address Section -->
            <div class="inputGroup addressGroup">
                <!-- Label for Address -->
                <div class="addressLabelWrapper">
                    <span class="addressLabel">Địa chỉ</span>
                </div>
    
                <!-- Detailed Address Input -->
                <div class="inputWrapper">
                    <input type="text" id="detailedAddress" placeholder="Nhập địa chỉ chi tiết">
                </div>
            </div>
    
            <!-- Buttons -->
            <div class="formButtons">
                <!-- Logout Button -->
                <form action="/logout" method="GET">
                    <button type="submit" class="exitButton">Đăng Xuất</button>
                </form>
                <button type="submit" class="updateButton">Cập Nhật Thông Tin</button>
            </div>
        </form>
    </main>
    

    <!-- Include the footer -->
    <%- include('../partials/footer', { activeIdx: 1 }) %>

</body>

</html>
