<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="styles/user-management.css" />
  </head>

  <body>
    <!-- Sidebar Section -->
    <div class="sidebar">
      <div class="sidebarHeader">
        <h2>ADMIN</h2>
        <hr class="menuDivider" />
      </div>

      <ul class="menu">
        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-dashboard.svg"
              alt="Dashboard Icon"
              class="menuIcon"
            />
            Dashboard
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem dropdown">
          <button class="dropdownToggle">
            <img
              src="icons/icon-table.svg"
              alt="Product Icon"
              class="menuIcon"
            />
            <span>Sản phẩm</span>
          </button>
          <ul class="submenu">
            <li><a href="/admin-add-product">Thêm sản phẩm</a></li>
            <li><a href="/admin-products-management">Quản lý sản phẩm</a></li>
          </ul>
        </li>
        <li class="menuItem">
          <a href="/admin-users-management">
            <img src="icons/icon-user.svg" alt="User Icon" class="menuIcon" />
            Người dùng
          </a>
        </li>
        <li class="menuItem">
          <a href="/admin-orders-management">
            <img src="icons/icon-table.svg" alt="Order Icon" class="menuIcon" />
            Đơn hàng
          </a>
        </li>
        <hr class="menuDivider" />
        <!-- Divider added here -->
        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-setting.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Settings
          </a>
        </li>

        <li class="menuItem">
          <a href="#">
            <img
              src="icons/icon-logout.svg"
              alt="Logout Icon"
              class="menuIcon"
            />
            Đăng xuất
          </a>
        </li>
      </ul>

      <button class="toggleSidebarBtn">
        <img
          src="icons/icon-backward.svg"
          alt="Toggle Icon"
          class="toggleIcon"
        />
      </button>
    </div>

    <!-- Main Content Section -->
    <div class="mainContent">
      <h2 class="pageTitle">Danh sách người dùng</h2>
    </div>

    <!-- Table Container -->
    <div class="tableContainer">
      <table class="dataTable">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Updated Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < dataTable.length; i++) { %>
          <tr>
            <td><%= dataTable[i].user_id %></td>
            <td><%= dataTable[i].email %></td>
            <td><%= dataTable[i].name %></td>
            <td><%= dataTable[i].phone %></td>
            <td>
              <script>
                // Gắn sự kiện `change` vào dropdown
                document
                  .getElementById("role")
                  .addEventListener("change", function (event) {
                    const selectedValue = event.target.value;
                  });
              </script>
              <select class="role-select" id="role" name="role">
                <option selected><%= dataTable[i].role %></option>
                <% let roles = ['Customer', 'Admin']; for (let j = 0; j <
                roles.length; j++) { if (roles[j] !== dataTable[i].role) { %>
                <option value="<%= roles[j] %>"><%= roles[j] %></option>
                <% } } %>
              </select>
            </td>
            <td><%= dataTable[i].updatedAt %></td>
            <td class="action-buttons">
              <button class="btn-edit">
                <a
                  href="/update-user-role?user_id=<%= dataTable[i].user_id %>&role=<%= dataTable[i].user_id %>"
                  class="btn-edit"
                  type="button"
                  onmouseover="this.style.textDecoration='none'"
                  >Update</a
                >
              </button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!-- Add your JavaScript file -->
    <script src="scripts/admin-sidebar.js"></script>
    <script src="scripts/admin-order-management.js"></script>
  </body>
</html>
